$mint: #f5fffa;
$pink: #eea9b8;
$navajo_white: #ffdead;
$chocolate: #7b3d11;
$dark_chocolate: #52280b;

$green: #29af7fff;
$lime: #73f055ff;
$yellow: #fde725ff;
$red: #bc3754;
$purple: #57106e;
$black: #000;
$white: #fff;
