@import "./colors.scss";
@import "./codemirror.scss";

* {
  box-sizing: border-box;
  font-family: "Overpass Mono", monospace;
}

html,
body {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  height: 95vh;
}

.code-container {
  display: flex;
  flex-direction: column;
}

#src-code-title-container {
  background-color: $pink;
  height: 40px;

  h1 {
    text-align: center;
    margin: 0;
  }
}

#generate-button {
  display: block;
  background-color: $lime;
  color: $black;

  border: none;
  border-bottom: 1px solid black;

  width: 100%;
  height: 5vh;

  &:hover {
    background-color: $green;
  }

  &:active {
    border: 2px $black inset;
  }
}

#visjs-container {
  width: 100%;
  height: 95vh;
}
